*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;;
  list-style: none;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 12%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 25px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}

.logo:hover{
  color: rgb(238, 66, 123);
  text-shadow: 0 0 25px rgb(238, 66, 123),
              0 0 50px rgb(238, 66, 123);
  transform: scale(1.1);
}

span{
  color: rgb(238, 66, 123);
}

.link
{
  color: white;
  
}

.navbar{
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a:hover,
.navbar a.active{
  color: rgb(238, 66, 123);
  border-bottom: 3px solid rgb(238, 66, 123);
}

.contact{
  padding: 10px 28px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;;
  font-weight: 600;
  transition: 0.3s ease;
}


.contact:hover{
  background-color: rgb(238, 66, 123);
  box-shadow: 0 0 25px  rgb(238, 66, 123);
  color: white;
}


.home{
  width:100%;
  min-height: 110vh;
  background: white;
  display: flex;
  align-items: center;
  gap:7em;
  padding: 30px 12% 0;
}

.home-content{
  max-width: 800px;
}

.home-content h1{
  font-size: 62px;
  line-height:1.2 ;
}

.home-content h3{
  font-size: 42px;
}

.home-content p{
  font-size: 18px;
  margin: 25px 0 30px;
}

.btn-box{
  width: 345px;
  display: flex;
  gap:2em;
}

.btn-1{
  padding:15px 28px;
  background-color: black;
  color:white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-1:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
}

.btn-2{
  padding:15px 28px;
  background-color:  rgb(238, 66, 123);
  color:white;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-2:hover{
  background-color: white;
  color: rgb(238, 66, 123);
}


.img-box{
  border-radius: 50%;
  width: 440px;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(238, 66, 123);
}

::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
}

.about{
  display: flex;
  justify-content: center;
  align-self:center;
  padding: 12% 8%;
  gap:10em;
  background: black;
  height: 800px;
}

.about-img img{
  position:relative;
  width: 400px;
  box-shadow: 0 0 25px rgb(238, 66, 123),
              0 0 50px rgb(238, 66, 123);
  border-radius: 50%;
}

.about-content h2{
  text-align: left;
  color: white;
  font-size: 42px;
}

.about-content h3{
  font-size: 62px;
  color: white;
}

.about-content p{
  color: white;
  font-size: 20px;
  margin: 2em 0 3em;
}

.contact-form h2{
 text-align: center;
 margin-top: 1em;
 margin-bottom: 1em;
 font-size: 36px;
}

.contact-form{
  background-color: white;
}

.contact-form form{
  max-width: 50em;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3em;
}

.contact-form input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.contact-form form .input-box input,
.contact-form form textarea{
  width: 100%;
  padding:1.5em;
  font-size: 18px;
  color: black;
  background-color:white;
  border-radius: .8rem;
  margin: 1rem 0;
  resize: none;
}

.skills{
  background-color:rgb(238, 66, 123);
  overflow: hidden;
}
.skills header{
  text-align: center;
  margin-top: 1em;
  font-size: 36px;
  font-weight: 600;
}

.spans{
  color: aliceblue;
}

.wrapper{
  max-width: 700px;
  width: 100%;
  margin: 100px auto;
  background: white;
  padding: 25px 30px 30px 30px;
  border-radius: 5px;
}
.wrapper nav{
  position:relative;
  height: 50px;
  width: 80%;
  display: flex;
  gap: 20px;
  align-items: center;

}

.wrapper nav label{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: rgb(5, 5, 5);
  font-size: 17px;
  text-decoration: underline;
  font-weight: 600;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;

}
 
#languages:checked ~ nav label.lang,
#frame:checked ~ nav label.frame,
#data:checked ~ nav label.data,
#datab:checked ~ nav label.dataB,
#softs:checked ~ nav label.softS{
  color: white;
}

input[type="radio"]{
  display: none;
}

.wrapper nav .slider{
  position:absolute;
  height: 100%;
  width: 20%;
  background: aqua;
  border-radius: 5px;
  z-index:0;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

#frame:checked ~ nav .slider{
  left: 20%;
}

#data:checked ~ nav .slider{
  left: 40%;
}

#datab:checked ~ nav .slider{
  left: 60%;
}

#softs:checked ~ nav .slider{
  left: 80%;
}

section .content{
  display: none;
}

#languages:checked ~ section .content1,
#frame:checked ~ section .content2,
#data:checked ~ section .content3,
#datab:checked ~ section .content4,
#softs:checked ~ section .content5{
  display: block;
}


section .gallery{
  width: 200px;
  display: inline-block;
  border: 1px solid;
  padding: 20px 20px 20px 30px;
  margin: 20px;
}